.container {
  width: auto;
  margin: 20px;
  background-color: #111; /* Darker black */// rgba(17, 17, 17, 0.8);/* Black with 80% opacity */
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: white; /* Text color */
  text-align: center; /* Center-align text */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.projects, .case-studies {
 // background-color: #000; /* Darker black */// rgba(17, 17, 17, 0.8);/* Black with 80% opacity */
  border-radius: 20px;
  padding: 5px;
  //border: 2px solid rgba(219, 94, 0, 0.5); /* Same color as the line */


}

.card {
 // border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.image {
  width: 200px;
  height: 400px;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Change this line */
  gap: 20px;
}


.our-clients-button {
  background-color: rgba(219, 94, 0, 0.5); /* Black transparent background */
  color: white;
  border: none;
  padding: 10px 30px; /* Increase padding for larger button */
  border-radius: 30px; /* Make button more rounded */
  cursor: pointer;
  font-size: 15px; /* Increase font size */
}
