<div class="container">
  <h2>Our Work</h2>
  <div class="grid-container">
    <!-- Container for Projects -->
    <div class="projects">
      <!-- <h3>Projects</h3> -->
      <div class="grid-items">
        <div class="project-item" *ngFor="let item of ourWork | slice:0:6">
          <div class="card">
            <img [src]="getImageUrl(item.imageUrl)" alt="{{item.name}}" class="image">
            <p>{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Container for Case Studies -->
    <!-- <div class="case-studies">
      <h3>Case Studies</h3>
      <div class="grid-items">
        <div class="case-study-item" *ngFor="let item of ourCaseStudies | slice:0:3">
          <div class="card">
            <img [src]="getImageUrl(item.imageUrl)" alt="{{item.name}}" class="image">
            <p>{{item.name}}</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <br>
  <button class="our-clients-button">
    <i class="fas fa-tasks"></i>  All Work
  </button>
</div>
