<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <!-- Left section -->
    <div class="left-section">
      <div class="logo">
        <img src="../../../../assets/images/logo2.jpg" alt="Logo">
      </div>
      <div class="description">
        <p>ARROWS is leading Communication Agency providing Brands with the ultimate experience in the creative industry, Established 2015 by Islam Kishta</p>
      </div>
       <!-- Social media icons -->
       <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <!-- Right section -->
    <div class="right-section">
      <!-- Contact details -->
      <div class="contact-details">
        <div>
          <h4 class="contact-header">CONTACT US</h4>
          <p><strong>Address:</strong> 6th of October, Giza, Egypt</p>
          <p><strong>Phone:</strong> +20 100 009 8520</p>
          <p><strong>Email:</strong> info&#64;arrowsegypt.com</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Orange horizontal line -->
  <div class="line"></div>

  <!-- Terms -->
  <div class="terms">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </div>
</footer>
