// 1. BREAKPOINT VARS & MIXINS

// --------------------------------------------------------------- 1. BREAKPOINT VARS & MIXINS
$screen-min-sm: 768px;
$screen-min-md: 992px;
$screen-min-lg: 1200px;
$screen-min-xlg: 1366px;
$screen-min-xxlg: 1441px;

@mixin screen-min-tablet { // must be 768 = tablet
    @media (min-width: #{$screen-min-sm}) {
        @content;
    }
}

@mixin screen-min-desktop { // must be 992 = schmall desktop
    @media (min-width: #{$screen-min-md}) {
        @content;
    }
}

@mixin screen-min-desktop-lg { // must be 1200 - standard desktop
    @media (min-width: #{$screen-min-lg}) {
        @content;
    }
}

@mixin screen-min-desktop-xlg { // must be 1366 - large desktop
    @media (min-width: #{$screen-min-xlg}) {
        @content;
    }
}

@mixin screen-min-desktop-xxlg { // must be 1441 = fancy desktop
    @media (min-width: #{$screen-min-xxlg}) {
        @content;
    }
}

$screen-max-sm: $screen-min-sm - 1px;
$screen-max-md: $screen-min-md - 1px;

@mixin screen-max-tablet { // up to 767 = screens smaller than tablet
    @media (max-width: #{$screen-max-sm}) {
        @content;
    }
}

@mixin screen-max-desktop { // up to 991 = screens smaller than a schmall desktop
    @media (max-width: #{$screen-max-md}) {
        @content;
    }
}
