
.container-fluid{
  margin: 0;
}
.partnerslider {
  width: auto;
  margin: 20px;
  background-color: transparent;
  border-radius: 20px;
 padding-left: 20px;
 padding-right: 20px;
  box-sizing: border-box;
  color: white;/* Text color */
  text-align: center; /* Center-align text */
}

.heading {
  color: white;
  text-align: center;
  font-size: 35px; /* Increase font size */
}


.partner-logo {
  max-width: 70%; /* Set the maximum width of each logo */
  max-height: 100px; /* Set the maximum height of each logo */
  display: block;
  margin: 0 auto 10px; /* Add margin bottom for spacing between logos */

}
.partner-carousel {
  display: flex;
  align-items: center;
}

.partner-logo {
  margin-right: 20px; /* Adjust spacing between logos */
}

.partner-logo:last-child {
  margin-right: 0; /* Remove margin from the last logo */
}


