
<div class="container-fluid justify-content-center align-items-center">
  <div class="partnerslider">
    <h2 class="heading">OUR CLIENTS</h2>
    <mat-divider></mat-divider>
    <br>
    <div class="logosslider">
      <owl-carousel-o [options]="customOptions" class="partner-carousel">
        <ng-container *ngFor="let partner of partnerLogos">
          <ng-template carouselSlide>
            <div class="partner-wrapper">
              <img [src]="getImageUrl(partner.imageUrl)" alt="{{ partner.name }}" class="partner-logo">
              <div class="vertical-line"></div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>

</div>
