.container{
    display: flex;
    gap :35px;
    width: 100%;
    justify-content: center;
    margin-top: 129px;
}

.card{
    width: 452px;
    height: 420px;
    border: 1px solid #363636;
    background: #151515;
    padding: 26px 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &_titleContainer{
        display: flex;
        height: 146px;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
    }

    &_title{
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: auto;
        width: 200px;
    }

    &_icon{
        position: absolute;
        margin-bottom: auto;
        top: 20px;
        right: 10px;
        transition: filter 0.3s ease-in-out;
        opacity: 0.2;
    }

    &_description{
        color: rgba(255, 255, 255, 0.75);
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 400;
    }

    &:hover{
        img,svg{
            opacity: 1;
        }
    }
}
