.container-fluid{
  margin: 0;
}
.container {
  display: flex;
  align-items: flex-start;
  width: calc(100% - 30px);
  height: 622px;
  flex-shrink: 0;
  margin-right: 30px;
}

.image1 {
  width: 40%;
  height: 285px;
  flex-shrink: 0;
  object-fit: cover;
  padding-left: 95px; /* Padding for the left */
  padding-top: 265px;
  z-index: 1;
}

.image2 {
  width: 40%;
  height: 317px;
  flex-shrink: 0;
  margin-left: -480px; /* Overlapping part of image1 */
  z-index: 0;
  border: 7px solid #151515; /* Adding border */
  background-color: lightgray; /* Setting background color */
  background-position: 50%; /* Setting background position */
  background-size: cover; /* Setting background size */
  background-repeat: no-repeat; /* Preventing background repeat */
  padding-left: 0px;
}

.details {
  flex: 1;
  margin-right: -30px; /* Compensating for the negative margin of the container */
  padding-left: 30px;
}

.aboutus {
  display: flex;
  width: calc(696px - 30px);
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #DB5E00;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 80px;
}

.title {
  max-width: calc(60% - 40px);
  height: auto;
  color: #FFF;
  font-family: "Termina Test";
  font-size: 35px;
  font-style: normal;
  font-weight: 1000;
  line-height: 40px;
  text-transform: capitalize;
  word-wrap: break-word;
}

.descp {
  width: calc(100% - 200px);
  word-wrap: break-word;
}

