<!-- <div class="container">
  <img [src]="getImageUrl(aboutUs.imagesUrl[0])" alt="Banner Image" class="image1">
  <img [src]="getImageUrl(aboutUs.imagesUrl[1])" alt="Banner Image" class="image2">
  <div class="details">
    <span class="aboutus">ABOUT THE COMPANY</span>
    <h2 class="title">{{aboutUs.title}}</h2>
    <p class="descp">{{aboutUs.description}}</p>
  </div>
</div> -->

<div class="container-fluid d-flex">
  <img [src]="getImageUrl(aboutUs?.imagesUrl[1])" alt="Banner Image" class="image1">
  <img [src]="getImageUrl(aboutUs?.imagesUrl[0])" alt="Banner Image" class="image2">
  <div class="details">
    <span class="aboutus">ABOUT THE COMPANY</span>
    <h2 class="title">{{aboutUs?.title}}</h2>
    <p class="descp">{{aboutUs?.description}}</p>
  </div>
</div>

