 <div class="container-fluid">
  <div class="banner">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let banner of banners">
        <ng-template carouselSlide>
          <ng-container *ngIf="banner.IsVideo; else imageTemplate">
            <video mat-card-image [src]="getImageUrl(banner.imageUrl)"alt="Bundle Video" class="video" #videoPlayer [muted]="true" autoplay loop controls="false">
              Your browser does not support the video tag.
          </video>
          </ng-container>
          <ng-template #imageTemplate>
            <img [src]="getImageUrl(banner.imageUrl)" alt="Banner Image" class="image">
          </ng-template>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
