.container{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid rgba(217, 217, 217, 0.3);
    margin-top: 20px;
}

.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    padding: 0 var(--spacing-md);

    button{
        background-color: transparent;
    }
}

.content{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    height: fit-content;
    opacity: 1;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.closed{
    height: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
}
