.container {
  width: auto;
  margin: 20px;
  background-color: #111; /* Darker black */// rgba(17, 17, 17, 0.8);/* Black with 80% opacity */
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: white; /* Text color */
  text-align: center; /* Center-align text */
  box-shadow: -4px -4px 8px rgba(219, 94, 0, 0.5);
}
.container h2 {
  margin-top: 0; /* Remove default margin for h2 */
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid rgba(219, 94, 0, 0.5);
  border-radius: 8px;
  background-color: #fff;
  transition: all 0.3s ease;

}

.team-member img {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
}

.our-clients-button {
  background-color: rgba(219, 94, 0, 0.5); /* Black transparent background */
  color: white;
  border: none;
  padding: 10px 30px; /* Increase padding for larger button */
  border-radius: 30px; /* Make button more rounded */
  cursor: pointer;
  font-size: 15px; /* Increase font size */
}


.team-member p {
  margin-top: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
